<div>
  <form [formGroup]="locationInfoFormGroup" autocomplete="off">
    <div class="row">
      <ng-container *ngFor="let item of formData">
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
          *ngIf="item?.fieldType?.toLowerCase() === 'text'"
        >
          <mat-form-field class="input-full-width">
            <mat-label> {{ item.fieldTitle | titlecase }}</mat-label>
            <input
              matInput
              type="input"
              (input)="onInputChanged($event, item.allowMax, item.fieldName)"
              (focus)="trackFieldInteraction(item.fieldTitle)"
              placeholder="{{ item.placeholder | titlecase }}"
              [required]="item.isRequired || false"
              formControlName="{{ item.fieldName }}"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              locationInfoFormGroup.controls[item.fieldName].errors?.[
                'required'
              ] && locationInfoFormGroup.controls[item.fieldName].value?.dirty
            "
          >
            Field is Required</mat-error
          >
          <mat-error
            *ngIf="
              locationInfoFormGroup.controls[item.fieldName].errors?.[
                'minlength'
              ]
            "
          >
            Minimum length should be {{ item.allowMin }} characters
          </mat-error>
          <mat-error
            *ngIf="
              locationInfoFormGroup.controls[item.fieldName].errors?.[
                'maxlength'
              ]
            "
          >
            Maximum length can only be {{ item.allowMax }} characters</mat-error
          >
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
          *ngIf="item?.fieldType?.toLowerCase() === 'date'"
        >
          <mat-form-field class="input-full-width">
            <mat-label> {{ item.fieldTitle }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="{{ item.fieldName }}"
              placeholder="{{ item.placeholder | titlecase }}"
              [required]="item.isRequired || false"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
          *ngIf="item?.fieldType?.toLowerCase() === 'multiple'"
        >
          <mat-form-field
            class="input-full-width backgroundWhite dropdownfontStyle"
          >
            <mat-label> {{ item.fieldTitle | titlecase }}</mat-label>
            <mat-select
              matInput
              multiple
              [required]="item.isRequired || false"
              placeholder="{{ item.placeholder | titlecase }}"
              formControlName="{{ item.fieldName }}"
            >
              <mat-option *ngFor="let option of item.options" [value]="option">
                {{ option | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
          *ngIf="item?.fieldType?.toLowerCase() === 'radio'"
        >
          <mat-label *ngIf="item.isRequired === true"
            >{{ item.fieldTitle }}*</mat-label
          >
          <mat-label *ngIf="item.isRequired !== true">{{
            item.fieldTitle
          }}</mat-label>
          <mat-radio-group
            formControlName="{{ item.fieldName }}"
            [required]="item.isRequired || false"
          >
            <mat-radio-button
              class="radioButtonFontStyle"
              style="margin-left: 5px; margin-right: 5px"
              *ngFor="let option of item.options"
              [value]="option"
            >
              {{ option | titlecase }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
          *ngIf="item?.fieldType?.toLowerCase() === 'dropdown'"
        >
          <mat-form-field
            class="input-full-width backgroundWhite fieldForHRP dropdownfontStyle"
          >
            <mat-label>{{ item.fieldTitle | titlecase }}</mat-label>

            <input
              matInput
              [placeholder]="item.placeholder"
              [required]="item.isRequired || false"
              [formControlName]="item.fieldName"
              [matAutocomplete]="auto"
              (input)="filterOptions(item)"
              (focus)="showAllOptions(item)"
            />

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="
                onChangeLocation(item.fieldName, $event.option.value)
              "
            >
              <mat-option
                *ngFor="let option of item.filteredOptions"
                [value]="option"
              >
                {{ option | titlecase }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </form>
</div>
