.headings {
    margin-left: 10px;
    margin-top: 2px;
    font-weight: 500;
    font-weight: bold;
}
#submitButton {
    float: right;
  }
  #backButton {
    margin-right: 10px;
  }

  .mat-expansion-panel-header {
    background: rgba(37, 55, 70, 0.2);
}

.textarea-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.select-full-width {
    width: 100%;
}

.radio-button {
    margin-right: 25px;
}

.control-label {
    font-weight: normal;
}

.step-btn button {
    float: right;
    margin-left: 5px;
  }
.m-b-40 {
    margin-bottom: 40px;
  }

  .mat_blue {
    background-color: #0277bd !important;
    border-color: unset !important;
    color: white;
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  .mat_blue:disabled {
    background-color: #e0e0e0 !important;
    border-color: unset !important;
    color: rgba(0, 0, 0, 0.38);
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }

  .mat-stepper-horizontal {
    padding: 0px;
    background: #f2f2f0 !important;
  }
  
  .mat-horizontal-stepper-header-container {
    background: #f2f2f0 !important;
  }
  
  
  .example-sidenav-fab-container {
    width: 100%;
  }
  .content{
    overflow: auto;
  }
  
  .example-sidenav-fab-container md-sidenav {
    max-width: 250px;
  }
  
  .example-sidenav-fab-container .mat-sidenav-content,
  .example-sidenav-fab-container md-sidenav {
    display: flex;
  }
  
  .example-scrolling-content {
    flex: auto;
    background: #f2f2f0 !important;
  }
  
  .sidenav {
    padding: 20px;
  }
  
  .textcolor {
    color: gray;
    float: left;
  }
  
  
  @media only screen and (max-width: 700px) {
    .container-fluid {
      padding: 0px !important;
    }
  
    .example-sidenav-fab-container {
      height: stretch;
    }
  
    .example-sidenav-fab-container md-sidenav {
      max-width: unset;
      width: 50%;
    }
  
    .example-sidenav-fab-container .content {
      height: stretch;
    }
  }
  
  .m-b-40 {
    margin-bottom: 40px;
  }
  