<div>
<mat-sidenav-container class="example-sidenav-fab-container">
  <div class="example-scrolling-content content">
    <form [formGroup]="mainForm" autocomplete="off" tabindex="{0}" (keyup.enter)="preventSubmitOnEnter($event)">
      <mat-horizontal-stepper linear="false" #stepper>
        <mat-step *ngIf="enablePersonalInfo">
          <ng-template matStepLabel>
            Personal Information
          </ng-template>
          <mat-card>
            <mat-card-title style="padding: 15px">
              Personal Information
            </mat-card-title>
            <mat-card-content>
              <app-personal-information [personalInfoFormGroup]="personalInfoFormGroup"
                [formData]="personalInfoData" [patientRevisit]="patientRevisit" [revisitData]="revisitData"></app-personal-information>
            </mat-card-content>
          </mat-card>
          <div class="row m-t-20">
            <div class="col-sm-12 step-btn m-b-40">
              <button class="mat_blue" mat-raised-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step *ngIf="enableLocationInfo">
          <ng-template matStepLabel>
            Location Information
          </ng-template>
          <mat-card>
            <mat-card-title style="padding: 15px">
              Location Information
            </mat-card-title>
            <mat-card-content>
              <app-location-information [locationInfoFormGroup]="locationInfoFormGroup" [patientRevisit]="patientRevisit" [revisitData]="revisitData"
                [formData]="locationInfoData"></app-location-information>
            </mat-card-content>
          </mat-card>
          <div class="row m-t-20">
            <div class="col-sm-12 step-btn m-b-40">
              <button class="mat_blue" mat-raised-button matStepperNext *ngIf="enableOtherInfo">Next</button>
              <button id="backButton" class="mat_blue" mat-raised-button matStepperPrevious
                *ngIf="enablePersonalInfo">Back</button>
            </div>
          </div>
        </mat-step>
        <mat-step *ngIf="enableOtherInfo">
          <ng-template matStepLabel>
            Other Information
          </ng-template>
          <mat-card>
            <mat-card-title style="padding: 15px">
              Other Information
            </mat-card-title>
            <mat-card-content>
              <app-other-information [otherInfoFormGroup]="otherInfoFormGroup" [patientRevisit]="patientRevisit" [revisitData]="revisitData"
                [formData]="otherInfoData"></app-other-information>
            </mat-card-content>
          </mat-card>
          <div class="row m-t-20">
            <div class="col-sm-12 step-btn m-b-40">
              <button *ngIf="!patientRevisit" id="submitButton" class="mat_blue" mat-raised-button (click)="submitBeneficiaryDetails()"
                [disabled]="!mainForm.valid">Submit</button>
                <button *ngIf="patientRevisit" id="submitButton" class="mat_blue" mat-raised-button (click)="updateBeneficiaryDetails()"
                [disabled]="!mainForm.valid">Update</button>
              <button id="backButton" class="mat_blue" mat-raised-button matStepperPrevious
                *ngIf="enableLocationInfo">Back</button>
              <button class="mat_blue" mat-raised-button matStepperNext *ngIf="enableAbhaInfo">Next</button>
      
            </div>
          </div>
        </mat-step>
        <mat-step *ngIf="enableAbhaInfo">
          <ng-template matStepLabel>
            Abha Information
          </ng-template>
          <mat-card>
            <mat-card-title style="padding: 15px">
              Abha Information
            </mat-card-title>
            <mat-card-content>
              <app-abha-information></app-abha-information>
            </mat-card-content>
          </mat-card>
          <div class="row m-t-20">
            <div class="col-sm-12 step-btn m-b-40">
              <button class="mat_blue back" mat-raised-button matStepperPrevious *ngIf="enablePersonalInfo">Back</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</mat-sidenav-container>
   

</div>
