<button
mat-raised-button
style="margin: 5px"
*ngIf="patientRevisit"
class="full-width-login pull-right m-r-5 mat_blue"
id="viewHealthID"
type="accent"
(click)="viewHealthIdData()"
>
ABHA Details
</button>

<button
id="moveToPrintHealthIDCard"
style="margin: 5px"
mat-raised-button
color="primary"
class="full-width-login pull-right m-r-5 mat_blue"
(click)="printHealthIDCard()"
>
Download Abha Card 
</button>
<button
id="moveToPrintHealthIDCard"
style="margin: 5px"
mat-raised-button
color="primary"
class="full-width-login  pull-right m-r-5 mat_blue"
(click)="generateAbhaCard()"
>
Generate Abha Card
</button>