<div class="title info">
  <h4>Biometric Device Connection</h4>
    <mat-icon
    class="pull-right close-btn md-24"
    matDialogClose
    (click)="closeDialog()"
    mat-icon-button>
    close</mat-icon>
</div>
<div class="col-xs-12 col-sm-12" style="overflow: hidden;">
  <div class="row" style="padding: 62px">
    <h4 class="textBio">
      Please plug the device and click on capture to capture the fingerprint
    </h4>
    <button
      type="button"
      style="margin: 5px"
      mat-raised-button
      color="primary"
      (click)="captureData()"
      value="Capture"
      class="btn btn-200 btn-primary"
    >
      Capture
    </button>
  </div>
</div>
