<form [formGroup]="otherInfoFormGroup" autocomplete="off">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <ng-container *ngFor="let item of formData">
      <!-- Text field -->
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'text'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">{{
          item.fieldTitle
        }}</label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            type="text"
            [id]="item.fieldName"
            (input)="onInputChanged($event, item.allowMax, item.fieldName)"
            placeholder="{{ item.placeholder }}"
            [required]="item.isRequired || false"
            formControlName="{{ item.fieldName }}" />
        </z-form-control>
        <span
          z-form-message
          class="text-destructive"
          *ngIf="
            otherInfoFormGroup.controls[item.fieldName].errors?.['required'] &&
            otherInfoFormGroup.controls[item.fieldName].dirty
          ">
          Field is Required
        </span>
        <span
          z-form-message
          class="text-destructive"
          *ngIf="
            otherInfoFormGroup.controls[item.fieldName].errors?.['minlength']
          ">
          Minimum length should be {{ item.allowMin }} characters
        </span>
      </z-form-field>

      <!-- Date field -->
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'date'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">{{
          item.fieldTitle
        }}</label>
        <z-form-control>
          <z-date-picker
            class="w-full"
            [id]="item.fieldName"
            formControlName="{{ item.fieldName }}"
            [placeholder]="item.placeholder || 'Pick a date'" />
        </z-form-control>
      </z-form-field>

      <!-- Multiple (multi-select) field -->
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'multiple'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">{{
          item.fieldTitle
        }}</label>
        <z-form-control>
          <z-select
            class="w-full"
            [id]="item.fieldName"
            [zMultiple]="true"
            zPlaceholder="{{ item.placeholder }}"
            formControlName="{{ item.fieldName }}">
            <z-select-item
              *ngFor="let option of item.options"
              [zValue]="option">
              {{ option }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>

      <!-- Radio field -->
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'radio'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">{{
          item.fieldTitle
        }}</label>
        <z-form-control>
          <z-radio-group
            [id]="item.fieldName"
            formControlName="{{ item.fieldName }}"
            zOrientation="horizontal"
            class="flex-wrap gap-4">
            <z-radio
              *ngFor="let option of item.options"
              [value]="option">
              {{ option }}
            </z-radio>
          </z-radio-group>
        </z-form-control>
      </z-form-field>

      <!-- Dropdown (single-select) field -->
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'dropdown'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">{{
          item.fieldTitle
        }}</label>
        <z-form-control>
          <z-select
            class="w-full"
            [id]="item.fieldName"
            zPlaceholder="{{ item.placeholder }}"
            formControlName="{{ item.fieldName }}">
            <z-select-item
              *ngFor="let option of item.options"
              [zValue]="option">
              {{ option }}
            </z-select-item>
          </z-select>
        </z-form-control>
      </z-form-field>
    </ng-container>
  </div>
</form>
