<div class="title info">
  <h4>{{ currentLanguageSet.searchAndDownloadAbha }}</h4>
  <button
    class="pull-right close-btn"
    style="border: unset !important;background-color: unset !important; color: white;"
    matDialogClose
    (click)="closeDialogAuth()"
    mat-icon-button
  >
    <mat-icon class="md-24">close</mat-icon>
  </button>
</div>
<br />
<div class="col-xs-12 col-sm-12 container-fluid" [formGroup]="abhaAuthMethodForm">
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-b-10">
      <label class="control-label" for="modeofAuthMethod">{{ currentLanguageSet.abhaSearchMode}}</label>
      <mat-radio-group
        formControlName="modeofAuthMethod"
        (change)="getAbhaAuthMethod()"
      >
        <mat-radio-button color="primary" value="AADHAAR"
          >Aadhar</mat-radio-button
        >
        <mat-radio-button color="primary" value="MOBILE"
          >Mobile</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div *ngIf ='enableAuthIdField'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10">
        <mat-form-field [style.width]="'100%'">
          <mat-label> {{ enterAuthIdLabel }} </mat-label>
          <input
            id="abhaAuthId"
            defaultNull
            autocomplete="off"
            formControlName="abhaAuthId"
            matInput
            type="text"
            required
            (keydown.space)="$event.preventDefault()"
            minlength="5"
            maxlength="32"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-6" style="margin-left: 15px">
            <p class="align-Para">
              Note*: {{ currentLanguageSet?.aBHA }}- xxx{{ abhaSuffix }},
              xxx.xx{{ abhaSuffix }}
              <br />
              {{ currentLanguageSet?.aBHANumber }} - xx-xxxx-xxxx-xxxx
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button
              id="searchHealthID"
              (click)="checkAbhaIdType()"
              class="pull-right font-regular f-s-18 m-t-8 full-width-search-box background-overall button-overall-disabled"
              [disabled]="
                !abhaAuthMethodForm.controls['abhaAuthId'].value ||
                !checkValidHealthID() ||
                !this.abhaAuthMethodForm.controls['modeofAuthMethod'].value
              "
            >
              {{ currentLanguageSet?.common?.search }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
