<div class="flex flex-col gap-6">
  <div class="flex flex-wrap justify-end gap-2">
    <button
      *ngIf="patientRevisit"
      z-button
      zType="default"
      type="button"
      id="viewHealthID"
      (click)="viewHealthIdData(); trackFieldInteraction('ABHA Details')"
    >
      ABHA Details
    </button>

    <button
      z-button
      zType="default"
      type="button"
      id="searchAhaCard"
      (click)="printHealthIDCard(); trackFieldInteraction('Search ABHA')"
    >
      Search ABHA
    </button>

    <button
      z-button
      zType="default"
      type="button"
      id="generateAbhaCard"
      (click)="generateAbhaCard(); trackFieldInteraction('Generate ABHA')"
    >
      Generate ABHA Card
    </button>
  </div>

  <div
    [formGroup]="abhaInfoFormGroup"
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4"
  >
    <ng-container *ngFor="let item of formData">
      <z-form-field *ngIf="item?.fieldType?.toLowerCase() === 'text'">
        <label z-form-label [zRequired]="item.isRequired || false" [attr.for]="item.fieldName">
          {{ item.fieldTitle }}
        </label>
        <z-form-control>
          <input
            z-input
            class="w-full"
            type="text"
            [id]="item.fieldName"
            [readonly]="item.isEditable === false"
            [placeholder]="item.placeholder"
            [required]="item.isRequired || false"
            [formControlName]="item.fieldName"
            (focus)="trackFieldInteraction('ABHA Number')"
          />
        </z-form-control>
      </z-form-field>
    </ng-container>
  </div>
</div>
