<div class="title info">
  <h4>Biometric Device Connection</h4>
  <button
    class="pull-right close-btn mat_icon_white"
    matDialogClose
    (click)="closeDialog()"
    mat-icon-button
  >
    <mat-icon class="md-24">close</mat-icon>
  </button>
</div>
<div class="col-xs-12 col-sm-12">
  <div class="row" style="padding: 62px">
    <h4 class="textBio">
      Please plug the device and click on capture to capture the fingerprint
    </h4>
    <button
      type="button"
      style="margin: 5px"
      mat-raised-button
      color="primary"
      (click)="captureData()"
      value="Capture"
      class="btn btn-200 btn-primary"
    >
      Capture
    </button>
  </div>
  <!-- <div class="img row" *ngIf="enableImage">
    <img
      class="bioImage"
      src="/assets/images/fingerprint-biometrics-scaled.jpg"
      alt="scanning"
    />
    <div class="text-container">
      <h2 style="font-size: 14px">{{ messageInfo }}</h2>
    </div>
  </div> -->
</div>
