<div class="flex flex-col gap-4 p-6">
  <div class="flex items-start justify-between gap-4">
    <p class="text-lg font-semibold text-foreground">CONSENT FORM</p>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      class="p-0"
      type="button"
      aria-label="Close"
      (click)="closeDialog()"
    >
      <ng-icon name="lucideX"></ng-icon>
    </button>
  </div>

  <div class="max-h-[60vh] overflow-y-auto pr-1">
    <form class="flex flex-col gap-3 text-sm text-muted-foreground">
      <z-checkbox
        class="font-semibold text-foreground"
        [formControl]="consent"
        (zCheckedChange)="checkAll()"
      >
        I hereby declare that:
      </z-checkbox>

      <z-checkbox [formControl]="consent1">
        I am voluntarily sharing my Aadhaar Number / Virtual ID issued by the
        Unique Identification Authority of India (“UIDAI”), and my demographic
        information for the purpose of creating an Ayushman Bharat Health Account
        number (“ABHA number”) and Ayushman Bharat Health Account address (“ABHA
        Address”). I authorize NHA to use my Aadhaar number / Virtual ID for
        performing Aadhaar based authentication with UIDAI as per the provisions
        of the Aadhaar (Targeted Delivery of Financial and other Subsidies,
        Benefits and Services) Act, 2016 for the aforesaid purpose. I understand
        that UIDAI will share my e-KYC details, or response of “Yes” with NHA
        upon successful authentication.
      </z-checkbox>

      <z-checkbox [formControl]="consent2">
        I intend to create Ayushman Bharat Health Account Number (“ABHA number”)
        and Ayushman Bharat Health Account address (“ABHA Address”) using
        document other than Aadhaar.
      </z-checkbox>

      <z-checkbox [formControl]="consent3">
        I consent to usage of my ABHA address and ABHA number for linking of my
        legacy (past) government health records and those which will be
        generated during this encounter.
      </z-checkbox>

      <z-checkbox [formControl]="consent4">
        I authorize the sharing of all my health records with healthcare
        provider(s) for the purpose of providing healthcare services to me
        during this encounter.
      </z-checkbox>

      <div class="flex flex-col gap-3">
        <z-checkbox [formControl]="consent5" (zCheckedChange)="checkBenConsent()">
          I consent to the anonymization and subsequent use of my government
          health records for public health purposes
        </z-checkbox>

        <div class="flex flex-col gap-3 pl-6">
          <z-checkbox
            [formControl]="consent5one"
            (zCheckedChange)="checkBenDoubleConsent()"
          >
            I {{ userName }}, confirm that I have duly informed and explained the
            beneficiary of the contents of consent for aforementioned purposes.
          </z-checkbox>

          <z-checkbox
            [formControl]="consent5two"
            (zCheckedChange)="checkBenDoubleConsent()"
          >
            I,(beneficiary), have been explained about the consent as stated
            above and hereby provide my consent for the aforementioned purposes.
          </z-checkbox>
        </div>
      </div>
    </form>
  </div>

  <div class="flex justify-end gap-2">
    <button
      z-button
      type="button"
      [zDisabled]="!allConsentsChecked()"
      (click)="submitConsent()"
    >
      Accept
    </button>
  </div>
</div>
