<div class="flex flex-col gap-6 p-6" [formGroup]="abhaGenerateForm">
  <div class="flex items-start justify-between gap-4">
    <p class="text-lg font-semibold text-foreground">Generate ABHA Card</p>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      class="p-0"
      type="button"
      aria-label="Close"
      (click)="closeDialog()"
    >
      <ng-icon name="lucideX"></ng-icon>
    </button>
  </div>

  <div class="flex flex-col gap-2">
    <label z-form-label [zRequired]="true" for="modeofAbhaHealthID">
      ABHA Generation Mode
    </label>
    <z-radio-group
      id="modeofAbhaHealthID"
      formControlName="modeofAbhaHealthID"
      zOrientation="horizontal"
      class="flex-wrap gap-4"
    >
      <z-radio [value]="'AADHAAR'">Aadhaar</z-radio>
      <z-radio [value]="'BIOMETRIC'">Biometric</z-radio>
    </z-radio-group>
  </div>

  <app-aadhaar-input
    [formGroup]="abhaGenerateForm"
    label="Aadhaar Number"
    [invalid]="isInvalid"
  ></app-aadhaar-input>

  <div class="flex justify-end">
    <button
      z-button
      type="button"
      (click)="generateABHACard()"
      [disabled]="
        !abhaGenerateForm.valid ||
        !abhaGenerateForm.get('modeofAbhaHealthID')?.value
      "
    >
      Generate
    </button>
  </div>
</div>
