<div class="col-12">
  <div style="    margin-bottom: 10px;
  display: flex;
  justify-content: end;">
  <button
mat-raised-button

*ngIf="patientRevisit && serviceLine === 'HWC'"
class="full-width-login  pull-right m-r-5 mat_blue"
id="familyTagging"
type="accent"
(click)="NavigateToFamilyTagging()"
>Family Tagging 
</button>
</div>
    <div class="example-scrolling-content content">
      <form [formGroup]="mainForm" autocomplete="off" tabindex="{0}">
        <mat-horizontal-stepper linear="false" #stepper>
          <mat-step *ngIf="enablePersonalInfo">
            <ng-template matStepLabel>
              {{currentLanguageSet?.ro?.personalInfo?.personalInformation}}
            </ng-template>
            <mat-card>
              <mat-card-title style="padding: 15px">
              {{currentLanguageSet?.ro?.personalInfo?.personalInformation}}
              </mat-card-title>
              <mat-card-content>
                <app-personal-information [personalInfoFormGroup]="personalInfoFormGroup"
                  [formData]="personalInfoData" [patientRevisit]="patientRevisit" [revisitData]="revisitData"
                ></app-personal-information>
              </mat-card-content>
            </mat-card>
            <div class="row m-t-20">
              <div class="col-sm-12 step-btn m-b-40" style="margin-top: 15px;">
                <button class="mat_blue" mat-raised-button matStepperNext *ngIf="enableLocationInfo || enableOtherInfo || enableAbhaInfo">Next</button>
                <button *ngIf="!patientRevisit && !enableLocationInfo && !enableOtherInfo && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="submitBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Submit</button>
                  <button *ngIf="patientRevisit && !enableLocationInfo && !enableOtherInfo && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="updateBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Update</button>
              </div>
            </div>
          </mat-step>
          <mat-step *ngIf="enableLocationInfo">
            <ng-template matStepLabel>
              {{currentLanguageSet?.ro?.locInfo?.locInformation}}
            </ng-template>
            <mat-card>
              <mat-card-title style="padding: 15px">
                {{currentLanguageSet?.ro?.locInfo?.locInformation}}
              </mat-card-title>
              <mat-card-content>
                <app-location-information [locationInfoFormGroup]="locationInfoFormGroup" [patientRevisit]="patientRevisit" [revisitData]="revisitData"
                  [formData]="locationInfoData"></app-location-information>
              </mat-card-content>
            </mat-card>
            <div class="row m-t-20">
              <div class="col-sm-12 step-btn m-b-40" style="margin-top: 15px;">
                <button *ngIf="!patientRevisit && !enableOtherInfo && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="submitBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Submit</button>
                  <button *ngIf="patientRevisit && !enableOtherInfo && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="updateBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Update</button>
                <button class="mat_blue" mat-raised-button matStepperNext *ngIf="enableOtherInfo || enableAbhaInfo">Next</button>
                <button id="backButton" class="mat_blue" mat-raised-button matStepperPrevious
                  *ngIf="enablePersonalInfo">Back</button>
              </div>
            </div>
          </mat-step>
          <mat-step *ngIf="enableOtherInfo">
            <ng-template matStepLabel>
              {{currentLanguageSet?.ro?.otherInfo?.otherInformation}}
            </ng-template>
            <mat-card>
              <mat-card-title style="padding: 15px">
                {{currentLanguageSet?.ro?.otherInfo?.otherInformation}}
              </mat-card-title>
              <mat-card-content>
                <app-other-information [otherInfoFormGroup]="otherInfoFormGroup" [patientRevisit]="patientRevisit" [revisitData]="revisitData"
                  [formData]="otherInfoData"></app-other-information>
              </mat-card-content>
            </mat-card>
            <div class="row m-t-20">
              <div class="col-sm-12 step-btn m-b-40" style="margin-top: 15px;">
                <button *ngIf="!patientRevisit && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="submitBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Submit</button>
                  <button *ngIf="patientRevisit && !enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="updateBeneficiaryDetails()"
                  [disabled]="!mainForm.valid">Update</button>
                  <button class="mat_blue" mat-raised-button matStepperNext *ngIf="enableAbhaInfo">Next</button>
                <button id="backButton" class="mat_blue" mat-raised-button matStepperPrevious
                  *ngIf="enableLocationInfo">Back</button>
        
              </div>
            </div>
          </mat-step>
          <mat-step *ngIf="enableAbhaInfo">
            <ng-template matStepLabel>
              {{currentLanguageSet?.ro?.abhaInfo?.abhaInformation}}
            </ng-template>
            <mat-card>
              <mat-card-title style="padding: 15px">
                {{currentLanguageSet?.ro?.abhaInfo?.abhaInformation}}
              </mat-card-title>
              <mat-card-content>
                <app-abha-information [abhaInfoFormGroup]="abhaInfoFormGroup" [formData]="abhaInfoData" [patientRevisit]="patientRevisit" [revisitData]="revisitData"></app-abha-information>
              </mat-card-content>
            </mat-card>
            <div class="row m-t-20">
              <div class="col-sm-12 step-btn m-b-40" style="margin-top: 15px;">
                <button *ngIf="!patientRevisit && enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="submitBeneficiaryDetails()"
                [disabled]="!mainForm.valid">Submit</button>
                <button *ngIf="patientRevisit && enableAbhaInfo" id="submitButton" class="mat_blue" mat-raised-button (click)="updateBeneficiaryDetails()"
                [disabled]="!mainForm.valid">Update</button>
                <button class="mat_blue back" mat-raised-button matStepperPrevious *ngIf="enablePersonalInfo">Back</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
</div>
   


